@model User;
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
@using(Html.BeginForm())
{
<table>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Name)</td>
        <td>@Html.TextBoxFor(m => m.Name)</td>
        <td>@Html.ValidationMessageFor(m => m.Name)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Email)</td>
        <td>@Html.TextBoxFor(m => m.Email)</td>
        <td>@Html.ValidationMessageFor(m => m.Email)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Dob)</td>
        <td>@Html.TextBoxFor(m => m.Dob,null,new { @type = "Date" })</td>
        <td>@Html.ValidationMessageFor(m => m.Dob)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Phno)</td>
        <td>@Html.TextBoxFor(m => m.Phno)</td>
        <td>@Html.ValidationMessageFor(m => m.Phno)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Country)</td>
        <td>@Html.DropDownListFor(m => m.Country,new SelectList(new string[] { " ","India", "USA", "UK" }))</td>
        <td>@Html.ValidationMessageFor(m => m.Country)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Username)</td>
        <td>@Html.TextBoxFor(m => m.Username)</td>
        <td>@Html.ValidationMessageFor(m => m.Username)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Pass)</td>
        <td>@Html.PasswordFor(m => m.Pass)</td>
        <td>@Html.ValidationMessageFor(m => m.Pass)</td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="submit" value="Register" />

        </td>
    </tr>
</table>

}
